<hr>

<div class="contact-item">
    <img src="/assets/icon/email.svg" class="contact-icon" alt="email icon">
    <a href="mailto:lei.441@osu.edu" target="_blank">lei.441@osu.edu</a>
</div>

<div class="contact-item">
    <img src="/assets/icon/google-scholar.svg" class="contact-icon" alt="google scholar icon">
    <a href="https://scholar.google.com/citations?user=OMBODUgAAAAJ&hl=en" target="_blank">Google Scholar</a>
</div>

<div class="contact-item">
    <img src="/assets/icon/linkedin.svg" class="contact-icon" alt="linkedin icon">
    <a href="https://www.linkedin.com/in/yingtie-lei-13b903344/" target="_blank">LinkedIn</a>
</div>

<div class="contact-item">
    <img src="/assets/icon/orcid.svg" class="contact-icon" alt="orcid icon">
    <a href="https://orcid.org/0009-0001-8002-2052" target="_blank">0009-0001-8002-2052</a>
</div>

<div class="contact-item">
    <img src="/assets/icon/dblp.svg" class="contact-icon" alt="dblp icon">
    <a href="https://dblp.org/pid/375/3249.html" target="_blank">DBLP</a>
</div>
