---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@use "sass:math";
@use "sass:string";

@use "variables" with (
  $max-content-width: {{site.max_width | default: "930px"}},
  $purple-color: #ff8e00
);

@use "themes";
@use "layout";
@use "typography";
@use "navbar";
@use "footer";
@use "blog";
@use "publications";
@use "components";
@use "utilities";
@use "tabs";
@use "teachings";
@use "typograms";
@use "academic-home";

html {
  font-size: 90%;
}

body {
  font-family: "Roboto Mono", monospace;
}

footer.sticky-bottom {
  font-size: 0.8rem;
}

:root,
html[data-theme="dark"] {
  --global-theme-color: #ff8e00;
  --global-hover-color: #ff8e00;
  --global-hover-text-color: #000000;
}
